h1 {
  border-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin-bottom: 70px;
  text-decoration: pink underline;
  letter-spacing: 4px;
  font-size: 100px;
}
html {
  background-color: #0d0d0d;
  backdrop-filter: blur(10px);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
  color: #ebebeb;
  line-height: 1.2;
}
